<div class="Container">
    <div class="header">
        <div class="Nompays">Les Regions du Mali</div>
        <div class="btnd"><button class="btn1" data-bs-toggle="modal" data-bs-target="#AjoutRegion">Ajouter</button>
        </div>
    </div>
    <div class="regions_alig">
        <div class="region_card">
            <div class="region_gauche">
                <div class="rg_Nom">
                    <h1>Bamako</h1>
                    <p class="descr">Kayes est une grande ville et une commune de l’ouest du Mali à 495 km au nord-ouest
                        de Bamako,
                        sur les rives du fleuve Sénégal. Elle est la capitale de la première région administrative et
                        le chef-lieu du cercle qui porte son nom.</p>
                </div>
                <div class="btn_voirp"><button routerLink="/detailsr" class="voirP">details</button></div>
            </div>
            <div class="region_droite">
                <img src="assets/bko.jpg" alt="" srcset="">
            </div>
        </div>


        <div class="region_card">
            <div class="region_gauche">
                <div class="rg_Nom">
                    <h1>Kayes</h1>
                    <p class="descr">Kayes est une grande ville et une commune de l’ouest du Mali à 495 km au nord-ouest
                        de Bamako,
                        sur les rives du fleuve Sénégal. Elle est la capitale de la première région administrative et
                        le chef-lieu du cercle qui porte son nom.</p>
                </div>
                <div class="btn_voirp"><button routerLink="/detailsr" class="voirP">details</button></div>
            </div>
            <div class="region_droite">
                <img src="assets/kayes.jpg" alt="" srcset="">
            </div>
        </div>


        <div class="region_card">
            <div class="region_gauche">
                <div class="rg_Nom">
                    <h1>Kayes</h1>
                    <p class="descr">Kayes est une grande ville et une commune de l’ouest du Mali à 495 km au nord-ouest
                        de Bamako,
                        sur les rives du fleuve Sénégal. Elle est la capitale de la première région administrative et
                        le chef-lieu du cercle qui porte son nom.</p>
                </div>
                <div class="btn_voirp"><button routerLink="/detailsr" class="voirP">details</button></div>
            </div>
            <div class="region_droite">
                <img src="assets/malicarte.png" alt="" srcset="">
            </div>
        </div>

        <div class="region_card">
            <div class="region_gauche">
                <div class="rg_Nom">
                    <h1>Kayes</h1>
                    <p class="descr">Kayes est une grande ville et une commune de l’ouest du Mali à 495 km au nord-ouest
                        de Bamako,
                        sur les rives du fleuve Sénégal. Elle est la capitale de la première région administrative et
                        le chef-lieu du cercle qui porte son nom.</p>
                </div>
                <div class="btn_voirp"><button routerLink="/detailsr" class="voirP">details</button></div>
            </div>
            <div class="region_droite">
                <img src="assets/kayes.jpg" alt="" srcset="">
            </div>
        </div>

        <div class="region_card">
            <div class="region_gauche">
                <div class="rg_Nom">
                    <h1>Kayes</h1>
                    <p class="descr">Kayes est une grande ville et une commune de l’ouest du Mali à 495 km au nord-ouest
                        de Bamako,
                        sur les rives du fleuve Sénégal. Elle est la capitale de la première région administrative et
                        le chef-lieu du cercle qui porte son nom.</p>
                </div>
                <div class="btn_voirp"><button routerLink="/detailsr" class="voirP">details</button></div>
            </div>
            <div class="region_droite">
                <img src="assets/kayes.jpg" alt="" srcset="">
            </div>
        </div>

        <div class="region_card">
            <div class="region_gauche">
                <div class="rg_Nom">
                    <h1>Kayes</h1>
                    <p class="descr">Kayes est une grande ville et une commune de l’ouest du Mali à 495 km au nord-ouest
                        de Bamako,
                        sur les rives du fleuve Sénégal. Elle est la capitale de la première région administrative et
                        le chef-lieu du cercle qui porte son nom.</p>
                </div>
                <div class="btn_voirp"><button routerLink="/detailsr" class="voirP">details</button></div>
            </div>
            <div class="region_droite">
                <img src="assets/kayes.jpg" alt="" srcset="">
            </div>
        </div>
    </div>
</div>

<!-- modal ajouter region -->
<!-- Button trigger modal -->
<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
</button> -->

<!-- Modal -->
<div class="modal fade mt-5 moduyui " id="AjoutRegion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

    <div class="modal-dialog modal-lg modal-dialog-centered position-relative">

        <div class="modal-content position-absolute top-50 start-50 translate-middle">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Menu Ajouter Region</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="row g-3 needs-validation container" novalidate>
                    <div class="col-md-6 my-3">
                        <label for="codeRegion" class="form-label">Code Région</label>
                        <input type="text" class="form-control" id="codeRegion" name="codeRegion"
                            [(ngModel)]="codeRegion" required>
                        <div class="valid-feedback">
                            Veuillez saisir le code region
                        </div>
                    </div>

                    <div class="col-md-6 my-3">
                        <label for="nomRegion" class="form-label">Nom Région</label>
                        <input type="text" class="form-control" id="nomRegion" name="nomRegion" [(ngModel)]="nomRegion"
                            required>
                        <div class="valid-feedback">
                            Veuillez saisir le nom de la region
                        </div>
                    </div>
                    <div class="col-md-6 my-3">
                        <label for="domaineActivite" class="form-label">Domaine activité</label>
                        <input type="text" class="form-control" id="domaineActivite" name="domaineActivite"
                            [(ngModel)]="domaineActivite" required>
                        <div class="valid-feedback">
                            Veuillez saisir le domaine activité
                        </div>
                    </div>
                    <div class="col-md-6 my-3">
                        <label for="superficieRegion" class="form-label">Superficie</label>
                        <input type="text" class="form-control" id="superficieRegion" name="superficieRegion"
                            [(ngModel)]="superficieRegion" required>
                        <div class="valid-feedback">
                            Veuillez saisir la superficie
                        </div>
                    </div>

                    <div class="col-md-6 my-3">
                        <label for="langue" class="form-label">Langue majoritaire</label>
                        <input type="text" class="form-control" id="langue" name="langue" [(ngModel)]="langue" required>
                        <div class="invalid-feedback">
                            Veuillez saisir la langue majoritaire
                        </div>
                    </div>
                    <!-- <div class="col-md-6 my-3">
                        <label for="NomPaysRegion" class="form-label">Nom Pays</label>
                        <input type="text" class="form-control" id="NomPaysReions" name="NomPaysReions"
                            [(ngModel)]="NomPaysReions">
                    </div> -->
                    <div class="col-md-12 my-3">
                        <label for="imageRegion" class="form-label">Image pays</label>
                        <input class="form-control" name="file" (change)="recuperationImageRegion($event)" type="file"
                            id="imageRegion" multiple />
                    </div>
                    <div class="col-md-12 my-3">
                        <label for="descriptionregion" class="form-label">Description</label>
                        <textarea class="form-control" id="descriptionregion" name="descriptionregion"
                            [(ngModel)]="descriptionregion" rows="3"></textarea>
                    </div>

                    <div class="d-grid gap-2">
                        <button class="btn btn-outline-warning p-1" type="button"
                            (click)="ajouterRegion()">Inscrire</button>
                    </div>

                </form>
            </div>

        </div>

    </div>

</div>
 <!-- fin modal ajouter region -->