<div class="Container">   
    <div class="header">
        <div class="Nompays">Les Regions du Mali</div>
        <div class="btnd"><button class="btn1">Ajouter</button></div>
    </div>
    <div class="regions_alig">
    <div class="region_card">
        <div class="region_gauche">
            <div class="rg_Nom"><h1>Kayes</h1></div>
            <div class="rg_desc"><p>Une courte description du region</p></div>
            <div class="btn_voirp"><button class="voirP">details</button></div>
        </div>
        <div class="region_droite">
            <img src="assets/kayes.jpg" alt="" srcset="">
        </div>
    </div>
    <div class="region_card">
        <div class="region_gauche">
            <div class="rg_Nom"><h1>Kayes</h1></div>
            <div class="rg_desc">Une courte description du region</div>
            <div class="btn_voirp"><button class="voirP">details</button></div>
        </div>
        <div class="region_droite">
            <img src="assets/kayes.jpg" alt="" srcset="">
        </div>
    </div>
    <div class="region_card">
        <div class="region_gauche">
            <div class="rg_Nom"><h1>Kayes</h1></div>
            <div class="rg_desc">Une courte description du region</div>
            <div class="btn_voirp"><button class="voirP">details</button></div>
        </div>
        <div class="region_droite">
            <img src="assets/kayes.jpg" alt="" srcset="">
        </div>
    </div>
    <div class="region_card">
        <div class="region_gauche">
            <div class="rg_Nom"><h1>Kayes</h1></div>
            <div class="rg_desc">Une courte description du region</div>
            <div class="btn_voirp"><button class="voirP">details</button></div>
        </div>
        <div class="region_droite">
            <img src="assets/kayes.jpg" alt="" srcset="">
        </div>
    </div>
    </div>


    
</div>
