<div class="Container">   
    <div class="header">
        <div class="Nompays">Les Regions du Mali</div>
        <div class="btnd"><button class="btn1">Ajouter</button></div>
    </div>
    <div class="regions_alig">

    <div class="region_card">
        <div class="region_gauche">
            <div class="rg_Nom"><h1>Kayes</h1>
                <p class="descr">Kayes est une grande ville et une commune de l’ouest du Mali à 495 km au nord-ouest de Bamako, 
                sur les rives du fleuve Sénégal. Elle est la capitale de la première région administrative et
                 le chef-lieu du cercle qui porte son nom.</p>
            </div>
            <div class="btn_voirp"><button class="voirP">details</button></div>
        </div>
        <div class="region_droite">
            <img src="assets/kayes.jpg" alt="" srcset="">
        </div>
    </div>

    <div class="region_card">
        <div class="region_gauche">
            <div class="rg_Nom"><h1>Kayes</h1>
                <p class="descr">Kayes est une grande ville et une commune de l’ouest du Mali à 495 km au nord-ouest de Bamako, 
                sur les rives du fleuve Sénégal. Elle est la capitale de la première région administrative et
                 le chef-lieu du cercle qui porte son nom.</p>
            </div>
            <div class="btn_voirp"><button class="voirP">details</button></div>
        </div>
        <div class="region_droite">
            <img src="assets/kayes.jpg" alt="" srcset="">
        </div>
    </div>
    

    <div class="region_card">
        <div class="region_gauche">
            <div class="rg_Nom"><h1>Kayes</h1>
                <p class="descr">Kayes est une grande ville et une commune de l’ouest du Mali à 495 km au nord-ouest de Bamako, 
                sur les rives du fleuve Sénégal. Elle est la capitale de la première région administrative et
                 le chef-lieu du cercle qui porte son nom.</p>
            </div>
            <div class="btn_voirp"><button class="voirP">details</button></div>
        </div>
        <div class="region_droite">
            <img src="assets/malicarte.png" alt="" srcset="">
        </div>
    </div>

    <div class="region_card">
        <div class="region_gauche">
            <div class="rg_Nom"><h1>Kayes</h1>
                <p class="descr">Kayes est une grande ville et une commune de l’ouest du Mali à 495 km au nord-ouest de Bamako, 
                sur les rives du fleuve Sénégal. Elle est la capitale de la première région administrative et
                 le chef-lieu du cercle qui porte son nom.</p>
            </div>
            <div class="btn_voirp"><button class="voirP">details</button></div>
        </div>
        <div class="region_droite">
            <img src="assets/kayes.jpg" alt="" srcset="">
        </div>
    </div>

    <div class="region_card">
        <div class="region_gauche">
            <div class="rg_Nom"><h1>Kayes</h1>
                <p class="descr">Kayes est une grande ville et une commune de l’ouest du Mali à 495 km au nord-ouest de Bamako, 
                sur les rives du fleuve Sénégal. Elle est la capitale de la première région administrative et
                 le chef-lieu du cercle qui porte son nom.</p>
            </div>
            <div class="btn_voirp"><button class="voirP">details</button></div>
        </div>
        <div class="region_droite">
            <img src="assets/kayes.jpg" alt="" srcset="">
        </div>
    </div>
    
    <div class="region_card">
        <div class="region_gauche">
            <div class="rg_Nom"><h1>Kayes</h1>
                <p class="descr">Kayes est une grande ville et une commune de l’ouest du Mali à 495 km au nord-ouest de Bamako, 
                sur les rives du fleuve Sénégal. Elle est la capitale de la première région administrative et
                 le chef-lieu du cercle qui porte son nom.</p>
            </div>
            <div class="btn_voirp"><button class="voirP">details</button></div>
        </div>
        <div class="region_droite">
            <img src="assets/kayes.jpg" alt="" srcset="">
        </div>
    </div>
    </div>


    
</div>
