<div class="container"> 
  <div class="position1">
        <div class="post1">
         <div class="nomP" style="font-family: 'Prata';"><h1>LE MALI</h1></div>    
        <div class="description">Avec une superficie de 1,241 million de km², le Mali est grand comme 
        deux fois la France. Sa capitale est Bamako qui regroupe plus d'un million de personnes. 
        Le pays a des frontières avec pas moins de 7 pays : Burkina Faso, Côte d'Ivoire, Guinée, Sénégal, Mauritanie, Niger et Algérie.
        </div>
        </div>
        <div class="image"><img style="width: 300px;" src="/assets/malicarte.png" alt="" srcset=""></div>
    </div>

    <div class="nregions">
         <h2>Les Regions du MALI</h2>
         <div class="essaie " *ngFor="let py of pays">
            <h3>{{pays.descriptionpays}}</h3>
         </div>
    </div>
    <div class="les_regions">
        <button class="rgb">Bamako</button>
        <button class="rgb">Kayes</button>
        <button class="rgb">Koulikoro</button>
        <button class="rgb">Sikasso</button>
        <button class="rgb">Segou</button>
        <button class="rgb">Mopti</button>
        <button class="rgb">Gao</button>
        <button class="rgb">Tombouctou</button>
        <button class="rgb">Kidal</button>
    </div>
</div> 


